extends ../../layout_nojs

block content
    div#modePanel	
        div#contentHeader.round
            h1 Modemaus
            p Scales, Modes, and Keys at the touch of your fingertips!

        div#fretboardContainer.round
            div#legendContainer
                p Legend/Color Guide
                ul
                    li.rootOnFretboard.round Root Note
                    li.fourthOnFretboard.round Fourth Note
                    li.fifthOnFretboard.round Fifth Note
                    li.noteOnFretboard.round Other Notes

            include ../../widgets/guitar-fretboard

        include ../../widgets/related-chords
        
        h3 Hope you'll find this as useful as I do!
        p
            |It's pretty hard to memorize all of these modes, but it is absolutely 
            |essential for improving your ability to decorate and harmonize other musicians, 
            |to create unique and original progressions, and to be able to express yourself 
            |efficiently. I love the modes, and I wanted to create something that
            |other aspiring musicians/guitar players might find useful. Instead of turning 
            |pages, reading notes and tabs, it's all collected right here in a very simple 
            |interface! I'd love 
            |to 
            a(href="mailto:kthrose@modemaus.net")
                hear some feedback and suggestions!

        h4 What's new in version 3?
        p
            |So this is version 3! This version is much more cross-browser compatible, significantly faster, and much more user friendly.
            |I've added a Search feature that lets you search for scales, and save your searches with the ability to return to them
            |at a later point. I'm very excited about this release! Version 4 is already in the works, and will include some great design and
            |color palette changes that will make this app much more user-friendly, and in the future this will be coded with support for
            |people who don't have JavaScript.
        p Some of the ideas I'm planning for in the future are:
        ul
            li
                To add audio
            li
                To add in the theoretical modes like FbM
            li
                Improve the user interface!
            li
                Add more instruments - piano, bass
        p Enjoy! Hope this helps you learn the modes