<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>

        <!-- META DATA -->
        <meta name="description" content="Learn guitar modes, scales, and chords within those keys visually - 
              Modemaus is an app that lets you see where all the hotspots are on the guitar fretboard in each mode!" />
        <meta name="keywords" content="modes, scales, keys, guitar, fretboard, music" />
        <meta name="author" content="Keith Luis Rosenberg, NETPOETICA LLC" />
        <meta charset="UTF-8" />

        <meta property="og:title" content="Modemaus" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="http://www.keithrosenberg.com/modemaus" />
        <meta property="og:image" content="http://keithrosenberg.com/modemaus/img/modemaus-logo.jpg" />
        <meta property="og:site_name" content="Modemaus" />
        <meta property="fb:admins" content="562700224" />

        <link rel="stylesheet" href="stylesheets/style.css" />
        <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" /> 

        <!-- Google Analytics -->
        <script type="text/javascript">

            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-26840997-1']);
            _gaq.push(['_trackPageview']);
			
            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
		
        </script>

    </head>
    <body>

        <!-- Facebook Like Button  -->
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=311300418883458";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
        </script>
        <div id = "content">

            <div id = "selectorPanel">

                <h1 id = "logo"><span>MODEMAUS</span></h1>	<!-- CSS should displace this text -->

                <form id="selectorForm" class="round">
                    <div>
                        <label for="root">Select your root note:</label>
                        <select name="root" id="root">
                            <option value="0">C</option>
                            <option value="1">C#/Db</option>
                            <option value="2">D</option>
                            <option value="3">D#/Eb</option>
                            <option value="4">E</option>
                            <option value="5">F</option>
                            <option value="6">F#/Gb</option>
                            <option value="7">G</option>
                            <option value="8">G#/Ab</option>
                            <option value="9">A</option>
                            <option value="10">A#/Bb</option>
                            <option value="11">B</option>
                        </select>
                    </div>
                    <div>
                        <label for="scale">Select your mode/scale:</label>
                        <select name="scale" id="scale">
                            <option value = "0">Ionian/Major</option>
                            <option value = "1">Dorian</option>
                            <option value = "2">Phrygian</option>
                            <option value = "3">Lydian</option>
                            <option value = "4">Mixolydian</option>
                            <option value = "5">Aeolian/Minor</option>
                            <option value = "6">Locrian</option>
                        </select>
                    </div>
                    <div>
                        <input type = "submit" name="submit" id="submit" value = "Find your notes!" />
                    </div>
                </form>
                <form id='fmSearch' class="round" action="#">
                    <div>
                        <p>Alternatively, you can search for a scale by name:</p>
                        <label for="txtSearch">Search</label>
                        <input type="search" id='txtSearch' name='txtSearch' class="round" autocomplete="off" />
                        <p>Type in the root note and name of the scale to search for it, i.e. "E phrygian"</p>
                        <input type="submit" name='btnSearch' id='btnSearch' value='Search' />
                    </div>
                    <div id="searchHistory" class="round">
                        <h3>Search History</h3>
                    </div>
                </form>

                <!-- Facebook Like button  -->
                <div class="fb-like-box" data-href="http://www.facebook.com/pages/Modemaus/135665956536360" 
                     data-width="215" data-show-faces="true" data-stream="false" data-header="true"></div>

                <!-- Google +1 Button --> 
                <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
                <div class ="google-plus">
                    <div class="g-plusone" data-size="standard" data-count="true"></div>
                </div>

            </div><!-- end SelectorPanel div -->

            <div id = "modePanel">	
                <div id = "contentHeader" class = 'round'>
                    <h1>Modemaus</h1>
                    <p>Scales, Modes, and Keys at the touch of your fingertips!</p>
                </div>

                <div id="fretboardContainer" class="round">
                    <div id = "legendContainer">
                        <p>Legend/Color Guide</p>
                        <ul>
                            <li class = 'rootOnFretboard round'>Root Note</li>
                            <li class = 'fourthOnFretboard round'>Fourth Note</li>
                            <li class = 'fifthOnFretboard round'>Fifth Note</li>
                            <li class = 'noteOnFretboard round'>Other Notes</li>
                        </ul>
                    </div><!-- end legend div -->

                    <table id = 'fretboard'>
                    </table>
                </div>

                <div id = "outputPanel" class="round">
                    <h2>Notes and Related Chords</h2>
                </div>

                <h3>Hope you'll find this as useful as I do!</h3>
                <p>

                    It's pretty hard to memorize all of these modes, but it is absolutely 
                    essential for improving your ability to decorate and harmonize other musicians, 
                    to create unique and original progressions, and to be able to express yourself 
                    efficiently. I love the modes, and I wanted to create something that
                    other aspiring musicians/guitar players might find useful. Instead of turning 
                    pages, reading notes and tabs, it's all collected right here in a very simple 
                    interface! I'd love 
                    to <a href = "mailto:kthrose@modemaus.net">hear some feedback and suggestions!</a>

                </p>
                <h4>What's new in version 3?</h4>
                <p>
                    So this is version 3! This version is much more cross-browser compatible, significantly faster, and much more user friendly.
                    I've added a Search feature that lets you search for scales, and save your searches with the ability to return to them
                    at a later point. I'm very excited about this release! Version 4 is already in the works, and will include some great design and
                    color palette changes that will make this app much more user-friendly, and in the future this will be coded with support for
                    people who don't have JavaScript.
                </p>
                <p>
                    Some of the ideas I'm planning for in the future are:
                </p>
                <ul>
                    <li>To add audio</li>
                    <li>To add in the theoretical modes like FbM</li>
                    <li>Improve the user interface!</li>
                    <li>Add more instruments (piano, bass)</li>
                </ul>
                <p>
                    Enjoy! Hope this helps you learn the modes
                </p>

            </div><!-- end modePanel div -->

        </div><!-- end content div -->

        <!-- LOAD JAVASCRIPT -->
        <script type = "text/javascript" src = "http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
        <script type='text/javascript' src="javascripts/ValueObjects.js"></script>
        <script type="text/javascript" src="javascripts/Fretboard.js"></script>
        <script type="text/javascript" src="javascripts/Search.js"></script>
        <script type="text/javascript" src="javascripts/modemaus.js"></script>
        <script type="text/javascript" src="javascripts/Main.js"></script>
    </body>
</html>
