html
  head
    title= title
    link(href="stylesheets/style.css", rel="stylesheet")
    link(href="images/favicon.ico", rel="shortcut icon", type="image/x-icon")
    meta(name="description", content="Learn guitar modes, scales, and chords within those keys visually - Modemaus is an app that lets you see where all the hotspots are on the guitar fretboard in each mode!")
    meta(name="keywords", content="modes, scales, keys, guitar, fretboard, music")
    meta(name="author", content="Keith Luis Rosenberg, NETPOETICA LLC")
    meta(charset="UTF-8")

    meta(property="og:title",content="Modemaus")
    meta(property="og:type",content="website")
    meta(property="og:url", content="http://www.keithrosenberg.com/modemaus")
    meta(property="og:image", content="http://keithrosenberg.com/modemaus/img/modemaus-logo.jpg")
    meta(property="og:site_name", content="Modemaus")
    meta(property="fb:admins", content="562700224")

    script(type="text/javascript", src='javascripts/GoogleAnalytics.js')
        
  body
    div#fb-root
        script(type='text/javascript', src='javascripts/Facebook.js')

    block content
    
    script(type="text/javascript", src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js")
    script(type='text/javascript', src="javascripts/ValueObjects.js")
    script(type="text/javascript", src="javascripts/Fretboard.js")
    script(type="text/javascript", src="javascripts/Search.js")
    script(type="text/javascript", src="javascripts/modemaus.js")
    script(type="text/javascript", src="javascripts/Main.js")
    