html
    include includes/header
        
    body
        div#fb-root

        div#content
            include includes/ui
            block content
        
        script(type='text/javascript', src='/javascripts/Facebook.js')
        script(type="text/javascript", src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js")
        script(type='text/javascript', src="/javascripts/ValueObjects.js")
        script(type="text/javascript", src="/javascripts/Fretboard.js")
        script(type="text/javascript", src="/javascripts/Search.js")
        script(type="text/javascript", src="/javascripts/modemaus.js")
        script(type="text/javascript", src="/javascripts/Main.js")
    