/*
 *		CSS by Keith Rosenberg
 *	http://www.keithrosenberg.com
 *		kthrose@netpoetica.com
 */
body {
  background-color: #f2f5f7;
  color: #362b36;
  font-family: Lucida Grande, Lucida Sans, Arial, sans-serif;
  font-size: 1.1em;
  margin: 0px;
  padding: 0px;
}
.round {
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
a {
  text-decoration: none;
  color: #ffa500;
}
a:hover {
  text-decoration: underline;
}
#logo {
  background: url("../images/modemaus-logo.jpg") no-repeat;
  height: 50px;
  width: 215px;
}
#logo span {
  display: none;
}
#selectorPanel {
  padding: 10px;
  width: 215px;
  height: 100%;
  float: left;
  text-align: right;
  background-color: #deedf7;
}
#selectorForm {
  background-color: #fff;
  padding: 10px;
}
#selectorForm p {
  font-size: small;
}
#fmSearch {
  background-color: #fff;
  padding: 10px;
  font-size: small;
}
#txtSearch {
  background-color: #faa;
}
#searchHistory {
  background-color: #fff;
  display: none;
  text-align: left;
  padding: 20px;
}
#modePanel {
  background-color: #f2f5f7;
  width: 800px;
  padding: 20px;
  height: auto;
  float: left;
}
#legendContainer {
  float: left;
  padding: 10px;
}
#legendContainer ul {
  list-style-type: none;
}
#legendContainer li {
  font-size: small;
  padding: 8px;
  background-color: #f2994b;
  width: 50px;
  float: left;
}
#outputPanel {
  clear: both;
}
#contentHeader {
  background-color: #deedf7;
  width: 250px;
  padding: 20px;
}
/* 	
 *   Fretboard Palette by carlos, at Adobe Kuler 
 *   URL: http://kuler.adobe.com/#themeID/145161
 *   Palette:
 *           Golden Brown 	- #F2CA52
 *           Dim Brown 		- #F2BA52
 *           Middle Brown 	- #F2994B
 *           Dark Brown 		- #D96236
 *           Fret Gray 		- #F2F2F2
 */
#fretboardContainer {
  float: left;
  padding: 20px;
  background-color: #deedf7;
  margin-bottom: 20px;
}
#fretboardContainer h1 {
  float: left;
  display: inline;
}
#fretboard tr {
  height: 20px;
  width: 60%;
  margin: 0px;
  padding: 0px;
  border: none;
  clear: both;
}
#fretboard th {
  background-color: #f2f2f2;
  color: #000;
  font-weight: bold;
  border: none;
}
#fretboard td {
  height: 20px;
  background-color: #f2994b;
  width: 60px;
  border-right: 2px solid #f2f2f2;
  margin: 0px;
  text-align: center;
}
#fretboard td:first-child {
  border-right: 8px solid #f2ca52;
  color: #d96236;
  background-color: #f2ba52;
  font-weight: bold;
}
.rootOnFretboard {
  color: #ff0;
}
.fourthOnFretboard {
  color: #f00;
}
.fifthOnFretboard {
  color: #e21659;
}
.noteOnFretboard {
  color: #fff;
}
.notOnFretboard {
  color: rgba(255,255,255,0.4);
}
#fretboard #string5,
#fretboard #string4 {
  text-transform: lowercase;
}
#outputPanel {
  background-color: #d96236;
  color: #f2ba52;
  width: 410px;
  padding-left: 50px;
  padding-bottom: 50px;
  padding-top: 10px;
}
.scaleDegree {
  width: 100px;
  padding: 10px;
  text-align: center;
  background-color: #f2994b;
  border: 2px solid #f2ba52;
}
.relatedChords {
  width: 200px;
  padding: 10px;
  background-color: #f2994b;
  border: 2px solid #f2ba52;
}
.fb-like-box {
  padding-top: 20px;
}
.google-plus {
  padding-top: 20px;
}
